@charset "UTF-8";

.marca {
    position: absolute;
    left: 250px;
    margin-top: 10px;
}

h1 {
    text-transform: uppercase;
    color: #fafafa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 500px;
    text-align: center;
    margin-left: 32vw;
    margin-top: 20vh;
    font-size: 45px;
    padding-top: 20vh;
}

header h3 {
    color: #fafafa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    margin-left: 40vw;
}

.prim_visao {
    background-image: url("../INtreino/Brafé/img/bg-intro.jpg");
    background-repeat: no-repeat;
    margin-left: -15px;
    height: 100vh;
    width: 100vw;
}

.Menu li {
    display: inline-block;
    list-style-type: none;
    color: #fafafa;
    padding: 10px;
}

nav {
    text-align: right;
    margin-bottom: -140px;
    background-color: #222222;
    padding-bottom: 20px;
    width: 100vw;
    padding-top: 15px;
    margin-top: -15px; 
    margin-left: -15px;
}

/*Zona de problemas!*/
nav ul li {
    transition: .3s;
}

nav ul li:hover {
    border-bottom: 3px solid #fafafa;
    transition: .3s;
}

nav ul li::after {
    width: 0;
}

nav ul li::after:hover{
    width: 100%;
    transition: width;
}

nav ul li:nth-child(4) {
    margin-right: 250px;
}
/*Fim da zona de problemas!*/

.mistura_de {
    text-align: center;
    font-size: 36px;
    margin-top: -100px;
    margin-bottom: 80px;
}

.mistura {
    margin-right: 0px;
    width: 100vw;
}

.cafeum {
    margin-left: 160px;
}

.cafedois {
    margin-left:  640px;
    margin-top: -340px;
    margin-bottom: 83px;
    margin-right: 0px;
}

.mistura p {
    max-width: 380px;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 480px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.captionum {
    background-color: #222222;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    color: #fafafa;
    width: 65px;
    padding: 5px 40px 5px 40px;
    margin-left: 200px;
    margin-top: -20px;
}

figure#cafeum {
    margin-bottom: -10px;
}

figure#cafedois {
    margin-top: 32px;
    margin-bottom: -95px;
}

.captiondois {
    background-color: #222222;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    color: #fafafa;
    width: 100px;
    padding: 5px 25px 5px 25px;
    margin-bottom: -20px;
    margin-left: 680px;
    margin-top: -13px;
}

.circulos {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #E9E5D9;
    margin-left: -15px;
    width: 100vw;
}

.captbrown {
    position: relative;
    display: inline-block;
    max-width: 300px;
    margin-left: 180px;
    margin-top: -40px;
}

.captorange {
    position: relative;
    display: inline-block;
    max-width: 300px;
    margin-left: 530px;
    margin-top: -40px;
}

.captyellow {
    position: relative;
    display: inline-block;
    max-width: 300px;
    margin-left: 865px;
    margin-top: -40px;
}

.titlepaulo {
    text-align: center;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.titlerio{
    text-align: center;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.titleminas {
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.brown-circle-out {
    border-radius: 100%;
    border: 6px #492901 solid;
    width: 110px;
    height: 110px;
    margin: 40px auto;
    margin-left: 260px;
}

.brown-circle-in {
    border-radius: 100%;
    background-color: #492901 ;
    width: 104px;
    height: 104px;
    position: relative;
    left: 3px;
    top: 3px;
}

.orange-circle-out {
    border-radius: 100%;
    border: 6px #D97232 solid;
    width: 110px;
    height: 110px;
    margin: 40px auto;
    margin-top: -260px;
}

.orange-circle-in {
    border-radius: 100%;
    background-color: #D97232 ;
    width: 104px;
    height: 104px;
    position: relative;
    left: 3px;
    top: 3px;
}

.yellow-circle-out {
    border-radius: 100%;
    border: 6px #E8A744 solid;
    width: 110px;
    height: 110px;
    margin: 40px auto;
    margin-left: 950px;
    margin-top: -255px;
}

.yellow-circle-in {
    border-radius: 100%;
    background-color: #E8A744 ;
    width: 104px;
    height: 104px;
    position: relative;
    left: 3px;
    top: 3px;
}

.saiba {
    text-transform: uppercase;
    border: 2px solid #222222;
    margin-left: 44%;
    margin-top: 80px;
    max-width: 111px;
    padding: 5px 10px 5px 10px;
    transition: .3s;
}

.saiba:hover {
    color: #fafafa;
    background-color: #222222;
    transition: .3s;
}

.locais {
    position: relative;
    top: 60px;
    left: 90px;
}

.Localcap {
    position: relative;
    display: inline-block;
    margin-right: 0px;
    left: 610px;
    top: -238px;
    font-size: 32px;
}

.LocalP {
    position: relative;
    display: inline-block;
    margin-right: 0px;
    max-width: 280px;
    left: 20px;
    top: -150px;
}

.botafogo {
    margin-bottom: 100px;
}

.Iguatemi {
    margin-bottom: 100px;
}

.vermapa {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 0px;
    width: 100px;
    left: -265px;
    top: -100px;
    padding: 5px 10px 5px 10px;
    border: 3px solid #222222;
    transition: .3s;
}

.vermapa:hover {
    color: #fafafa;
    background-color: #222222;
    transition: .3s;
}

.promo {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: oblique;
    left: 220px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.assine {
    position: relative;
    top: 90px;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #E7E4D8;
    margin-left: -15px;
    width: 100vw;
}

.assinenews {
    margin-left: 220px;
}

.formulario #mail {
    margin-left: 800px;
    margin-bottom: -20px;
    margin-top: -60px;
    padding: 5px 10px 5px 10px;
    border: 3px solid #222222;
    background-color: #E9E5D9;
}

.formulario #mail::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

.botao {
    border: 3px solid #222222;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 10px 5px 10px;
    margin-left: -10px;
    color: #fafafa;
    background-color: #222222;
    text-transform: uppercase;
    transition: .3s
}

.botao:hover {
    color: #222222;
    background-color: #fafafa;
    transition: .3s;
}

.formulario {
    position: relative;
    margin-bottom: -20px;
    top: -40px;
}

.matrizp {
    position: relative;
    max-width: 400px;
    top: -30px;
    left: 220px;
}

.matriz {
    position: relative;
    top: 90px;
    background-color: #D6D3C8;
    bottom: -30px;
    margin-left: -15px;
    width: 100vw;
}

.imgmatriz {
    position: relative;
    margin-left: 600px;
    left: 400px;
    top: 20px;
}